@import "../../styleutils/variables.scss";

.widget-item {
  color: $main-color;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in;
  font-size: 1.2em;

  &:hover {
    color: $secondary-color;
    background-color: $hover-color;
    border-radius: 10%;
    cursor: pointer;
  }
}
