@import "../../styleutils/variables.scss";
@import "../../styleutils/breakPoints.scss";

.ui-button {
  background: $secondary-color;
  color: $button-text;
  height: 3rem;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5rem;
  max-width: 225px;
  width: 100%;

  @include onTablet {
    width: 100%;
  }
}
