@import "../../styleutils/variables.scss";

.widget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 22%;
  max-width: 225px;

  &__select {
    width: 100%;
    padding-block: 1em;
    border: 2px solid $secondary-color;
    background: $secondary-background;
    color: $secondary-color;
    border-radius: 0.5rem;
    padding-inline: 10%;
    cursor: pointer;
  }

  &__input {
    width: 88%;
    padding-block: 1em;
    border: 2px solid $secondary-color;
    background: $secondary-background;
    color: $secondary-color;
    border-radius: 0.5rem;
    padding-left: 10%;
    cursor: pointer;
    margin-bottom: 1em;

    &::placeholder {
      color: $secondary-color;
    }
  }
}