@import "../../styleutils/variables.scss";

.sidebar {
  background-color: $secondary-background;
  width: 30%;
  height: 100vh;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  display: flex;
  padding-block: 2em;
  flex-direction: column;
  align-items: center;

  &__heading {
    color: $secondary-color;
  }

  &__list {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-block: 3em;
    gap: 1em;
  }
  
  &__item {
    color: $main-color;

  }
}